@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Noto+Sans+JP:100,200,300,400,500,600,700');

/*Home Pg--------------------------------------------Alert*/

.site-wide-alert {
    height:35px !important;
    margin: 0 !important;
    padding: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: "Roboto" !important;
    font-size: 90% !important;
}

/*--------------------------------------------Aside Wrapper for menu items Code attribution css-tricks.com [(https://css-tricks.com/snippets/css/a-guide-to-flexbox/)]*/

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 0px;
  flex: 1 100%;
}

.header {
  background:  rgba(103, 128, 159, .2);
}

.footer {
  background: none;
}

.main {
  text-align: center;
  background: none;
  height: 60px;
}

img {
    max-width:100%; 
    height:60px;
    margin: 0;
    padding: 0;
}

.aside-1, .aside-2, .aside-3, .aside-4 {
  background: none;
  height: 60px;
}

@media all and (min-width: 34em) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 62em) {
  .main    { flex: 3 0px; }
  .main    { order: 1; }
  .aside-1 { order: 2; } 
  .aside-2 { order: 3; }
  .aside-3 { order: 4; }
  .aside-4 { order: 5; }
  .footer  { order: 6; }
}

.aside {
    height: 60px;
    list-style-type: none;
    margin:0;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    line-height: 60px;
    cursor: pointer;
    padding: 0 10px;
}

.aside li a:hover {
    color:#fff;
    text-decoration:none;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.aside a {
     font-size: 0.9rem;
     letter-spacing: 1px;
     color: #fff;
     font-weight: 600;
 }  

/*--------------------------------------------City-Containers for text boxes*/

.city-container .box2 {
    background: #fff;  
}

.city-container .box3 {
    background: rgba(204,229,255);
}

#hero-image {
    height: 35em;
    width: 100%;
    background: url(../images/osman-rana-xJueGJJHnWs-unsplash.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center;
}

/*--------------------------------------------Body*/

body {
    font-family: "Roboto", "Noto Sans JP";
    margin: 0;
    padding: 0;
}

hr {
    width: 80%;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-width: 1px;
    border-color: #fff;
    border-style:double;
}

.col{
    margin:0;
    padding:0;
    border:0;
    align-self: center;
}

/*Footer--------------------------------------------Sign up newsletter*/

form {
    display: inline;
    text-align: center;
}

#call-to-action {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    font-size: 90%;
    font-weight: 500;
}

/*--------------------------------------------Important - check this out download*/
.primarkworldinfo-pdf i:hover {
     color:gold;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

/*-------------------------------------------------------------Additional images*/
#topglass {
    height: 30em;
    width: 100%;
    background: url(../images/stores/topglass/primark-002.jpg);  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#madrid {
    height: 30em;
    width: 100%;
    background: url(../images/alev-takil-e8k2llHEiE0-unsplash.jpg);  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#message {
    background-color:  rgba(204,229,255);
    color:black;
}

#important {
    background-color: #fff;
    color: rgba(80,152,192);
    font-weight: 500;
    font-size: 125%;
    font-display: bold;
}

.fa-download {
  color: rgba(80,152,192);
}

@media screen and (max-width: 767px) {
  .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
    margin: 10px 0px 10px 0px
  }
}

.container input {
  width: 50%;
  clear: both;
}

 select, input[type="text"]{
      width:100%;
      box-sizing:border-box;
    }

 select, input[type="country"]{
      width:100%;
      box-sizing:border-box;
    }

textarea { 
        width:100%; 
    } 

#submission {
  width:25%;
  box-sizing:border-box;
  }

/*--------------------------------------------Top-Footer hyperlinks & social media*/

@media all and (min-width: 34em) {
  .top-footer-aside { flex: 1 0 0; }
}

@media all and (min-width: 62em) {
  .main    { flex: 3 0px; }
  .main    { order: 1; }
  .top-footer-aside-1 { order: 2; } 
  .top-footer-aside-2 { order: 3; }
  .top-footer-aside-3 { order: 4; }
  .footer-aside-4 { order: 5; }
  .top-footer  { order: 6; }
}

.top-footer-aside-1, .top-footer-aside-2, .top-footer-aside-3, .top-footer-aside-4 {
  height: 5px;
}

.top-footer-aside {
    height: 20px;
    color: #fff;
    align-items: center;
    list-style-type: none;
    margin:0;
    text-transform:none;
    margin-top: 10px;
}

 .top-footer-aside a {
     color: #fff;
     text-decoration: none;
     font-size: 0.8rem;
     font-weight: 400;
 } 

.top-footer-aside a:hover {
     color:lightgray;
}

.social-media i:hover {
     color: lightgray;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

.social-media li {
    display: inline;
    padding:1%;
}

.social-media i {
    font-size: 140%;
    margin: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #fff;
}


/*--------------------------------------------Btm-Footer copyright/logo/*/

#footerlogo {
    height: 2em;
    width: 8em;
    background: url(../logo/primark-logo-3.PNG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btm-footer-aside-1 {
  height: 5px;
  margin-top: 1px;
}

.btm-footer-aside-2 {
  height: 5px;
  margin-top: 1px;
}

.btm-footer-aside-3 {
  height: 5px;
  margin-top: 1px;
}

@media all and (min-width: 34em) {
  .btm-footer-aside { flex: 1 0 0; }
}

@media all and (min-width: 62em) {
  .main    { flex: 3 0px; }
  .btm-footer-aside-1 { order: 1; } 
  .btm-footer-aside-2 { order: 2; }
  .btm-footer-aside-3 { order: 4; }
  .btm-footer  { order: 6; }
}

.btm-footer-aside {
     margin-top: 5em;
     color: #fff;
     text-decoration: none;
     font-size: 0.8rem;
     font-weight: 400;
     list-style-type: none;
}

 .btm-footer-aside a {
     text-decoration: none;
     font-size: 0.8rem;
     font-weight: 400;
     list-style-type: none;
 }

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

h6 {
    color: #fff;
}

b {
    font-size: 300%;
}

.b2 {
    font-size: 180%;
}


iframe {
    width:100%;
    height:30em;
}

/*CityWeather Pg--------------------------------------------*/
#hero-image-city {
    height: 30em;
    width: 100%;
    background: url(../images/ethan-hu-gP2PNn1fCiU-unsplash.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

img {
    max-width:100%; 
    height:60px;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------Code attribution Kristen Spencer Flex Box [(https://codepen.io/kristencodes/pen/BopVyB)] */

@media screen and (max-width: 546px) {
  .city-container {
    border: none;
    display: flex;
    flex-direction: column;
  }
}

.city-container{
  border: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.box{
  flex: 1 0 calc(33% - 10px);
}

.box:after{
  content: '';
  display: block;
}

.city-container .box:after{
  content: '';
  display: block;
}

/*Store Pg--------------------------------------------*/
#hero-image-store {
    height: 30em;
    width: 100%;
    background: url(../images/110551_N36-1200x667.jpg) no-repeat center center;
    background-size: cover;
    background-position: bottom;
}

body {
    background: rgba(80,152,192);
}

/*Contact Pg--------------------------------------------*/
#hero-image-media {
    height: 50em;
    width: 100%;
    background: url(../images/hosein-emrani-r_cZgqq0WHE-unsplash.jpg) no-repeat center center;
    background-size: cover;
    background-position: bottom;
}
